[Unit]
Description=discopy
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/discopy
ExecStart=/opt/discopy/discopy.mjs
EnvironmentFile=/opt/discopy/.env

[Install]
WantedBy=multi-user.target
